/* @import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    background: #eee;
    color: #111;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    line-height: 1em;
    color: #369;
}

a {
    color: #69c;
}


body > header {
    position: fixed;
    left: 0;
    top: 0;
    width: 15rem;
    height: 100vh;
    padding: 3rem 1rem;
    background: #369;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border-right: 3px solid #036; */
    box-shadow: 0 0.5rem 0.5rem #00000040;
}

body > header :is(a, h1, h2) {
    margin: 0;
    color: #fff;
}

#userinfo {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#avatar {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid #fff;
}


#mainnav h3 {
    color: #9cf;
    font-size: 1rem;
    margin: 0.5rem 0 0.2rem;
}

#mainnav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    user-select: none;
}

#mainnav li {
    width: 100%;
    padding: 0.25rem 0.75rem;
    border-radius: 0.3rem;
    background: #47a;
    color: #fff;
    position: relative;
    cursor: pointer;
    top: 0;
    transition: top 250ms, box-shadow 250ms;
}

#mainnav li.active {
    background: #c70;
}

#mainnav li:hover {
    background: #f90;
    box-shadow: 0 0.3rem 0.3rem #00000040;
    top: -0.1rem;
}

main {
    margin: 0 0 0 15rem;
    padding: 1rem;
}


body > footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 15rem;
    padding: 1rem;
    text-align: center;
    color: #ccc;
}

#gistlist {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: calc(100vh - 6rem);
    align-content: center;
    justify-content: center;
    align-items: center;
}

#gistlist .gist {
    width: 18rem;
    min-height: 20rem;
    border: 5px solid #69c;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
    position: relative;
    top: 0;
    transition: top 250ms, box-shadow 250ms;
    animation: zoom 250ms forwards;
}

@keyframes zoom {
    from {
        transform: scale( 0 );
        opacity: 0;
    }
    to {
        transform: scale( 1 );
        opacity: 1;
    }
}



#gistlist .gist h3 {
    margin: 0 0 1.2rem;
    font-size: 1.3rem;
}

#gistlist .gist p {
    flex: 1;
    margin: 0 0 0.5rem;
    /* color: #666; */
    font-size: 0.9rem;
    /* font-weight: bold; */
    /* line-height: 1.4; */
}

#gistlist .files {
    list-style: none;
    /* border-top: 2px solid #69c;   */
    padding: 1rem 0 0;
    margin: 1rem 0 0;
}

#gistlist .files li {
    display: flex;
    margin: 0 0 0.2rem;
    gap: 0.3rem;
    color: #369;
    cursor: pointer;
}

#gistlist .files li::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url( 'file.svg' );
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
}

#gistlist .gist footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 0;
    padding: 1rem 0 0;
    border-top: 2px solid #69c;
}

#gistlist .gist .tags,
#gistlist .gist .langs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    color: #369;
}

#gistlist .gist .tags li {
    font-weight: bold;
    cursor: pointer;
}

#gistlist .gist .langs li {
    font-size: 0.8rem;
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
    border: 2px solid #69c;
    cursor: pointer;
}

#gistlist .gist li.filter {
    color: #c70;
    border-color: #c70;
}

#gistlist .gist:hover {
    box-shadow: 0 0.5rem 0.5rem #00000040;
    top: -0.3rem;
    border-color: #f90;
}

#gistlist .gist:hover h3 {
    color: #c70;
}

#gistlist .gist:hover .files,
#gistlist .gist:hover footer {
    border-color: #f90;
}

#gistfile {
    display: none;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 0;
    width: 90vw;
    height: 90vh;
    margin: 0 5vw;
    margin-top: calc(-90vh / 2 );
    background: #ddd;
    box-shadow: 0 0.5rem 1rem #00000080;
    border-radius: 0.5rem;
    padding: 1rem;
}

#gistfile.visible {
    display: block;
}

#gistfileclose {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

#gistfilecode {
    width: 100%;
    height: 100%;
    background-color: #222;
    color: #ddd;
    padding: 1rem;
    font-family: 'Fira Mono', monospace;
    font-size: 1.2rem;
    overflow: auto;
}